<form>
    <label for="listaRazas">Elegir raza:</label>
    <select id="listaRazas" name="listaRazas" [(ngModel)]="breedSelected" 
    (change)="loadImages()">
        <option *ngFor="let b of breedList" [value]="b">{{b}}</option>
    </select>
    <br>
    <div *ngFor="let i of breedImages">
        <img [src]="i">
    </div>

    <br>
    <h1>Imagen Aleatoria</h1>
    <div>
        <button (click)="loadRandomImage()">Cargar Imagen</button> <!-- Se invoca la función con Event binding-->
    </div>
    <div>
        <img [src]="breadRandomImage">
    </div>
</form>