<p>http-client-test works!</p>
<hr>
<h5>Petición:</h5>
<div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-seconday" (click)="get()">Get</button>
    <button type="button" class="btn btn-seconday" (click)="post()">Post</button>
    <button type="button" class="btn btn-seconday" (click)="put()">Put</button>
    <button type="button" class="btn btn-seconday" (click)="patch()">Patch</button>
    <button type="button" class="btn btn-seconday" (click)="delete()">Delete</button>
</div>
<hr>
<h5>Resultado:</h5>
<pre>{{ resultadoPeticion | json }}</pre> <!-- -->